body {
  height: 100vh;
  background-color: yellow;
  display: grid;
  place-items: center;
}

small {
  display: block;
  color: #999;
}

.container {
  border: 1px solid #ccc;
  width: 250px;
  background-color: white;
  padding: 0.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 0.7rem;
}

.container > div {
  font-size: 1rem;
}

.border {
  border: 1px solid black;
}
